policy_module(ambankcoin, 1.100.1)

########################################
#
# Declarations
#

type ambankcoin_t;
type ambankcoin_exec_t;
init_daemon_domain(ambankcoin_t, ambankcoin_exec_t)

permissive ambankcoin_t;

type ambankcoin_initrc_exec_t;
init_script_file(ambankcoin_initrc_exec_t)

type ambankcoin_conf_t;
files_type(ambankcoin_conf_t)

type ambankcoin_var_lib_t;
files_type(ambankcoin_var_lib_t)

type ambankcoin_var_run_t;
files_type(ambankcoin_var_run_t)

type ambankcoin_port_t;
corenet_port(ambankcoin_port_t)

########################################
#
# ambankcoin local policy
#
allow ambankcoin_t self:process { fork };

allow ambankcoin_t self:fifo_file rw_fifo_file_perms;
allow ambankcoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(ambankcoin_t, ambankcoin_conf_t, ambankcoin_conf_t)
manage_files_pattern(ambankcoin_t, ambankcoin_conf_t, ambankcoin_conf_t)

manage_dirs_pattern(ambankcoin_t, ambankcoin_var_lib_t, ambankcoin_var_lib_t)
manage_files_pattern(ambankcoin_t, ambankcoin_var_lib_t, ambankcoin_var_lib_t)
files_var_lib_filetrans(ambankcoin_t, ambankcoin_var_lib_t, { dir file })

manage_dirs_pattern(ambankcoin_t, ambankcoin_var_run_t, ambankcoin_var_run_t)
manage_files_pattern(ambankcoin_t, ambankcoin_var_run_t, ambankcoin_var_run_t)

sysnet_dns_name_resolve(ambankcoin_t)
corenet_all_recvfrom_unlabeled(ambankcoin_t)

allow ambankcoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(ambankcoin_t)
corenet_tcp_sendrecv_generic_node(ambankcoin_t)
corenet_tcp_sendrecv_all_ports(ambankcoin_t)
corenet_tcp_bind_generic_node(ambankcoin_t)

gen_require(`
    type ambankcoin_port_t;
')
allow ambankcoin_t ambankcoin_port_t:tcp_socket name_bind;

gen_require(`
    type ambankcoin_port_t;
')
allow ambankcoin_t ambankcoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(ambankcoin_t)

files_read_etc_files(ambankcoin_t)

miscfiles_read_localization(ambankcoin_t)

sysnet_dns_name_resolve(ambankcoin_t)

allow ambankcoin_t ambankcoin_exec_t:file execute_no_trans;
allow ambankcoin_t self:process setsched;
corecmd_exec_ls(ambankcoin_t)
corenet_tcp_connect_http_port(ambankcoin_t)
dev_read_urand(ambankcoin_t)
fs_getattr_xattr_fs(ambankcoin_t)
kernel_read_system_state(ambankcoin_t)
